<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The GEO App</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>  

</head>
<body>

    {% include "main_app/navbar.html" %}

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Continent: {{ continent.name }}</div>
            <div class="panel-body">
                <form name="continent-form" id="continent-form" action="" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="message">¿Are you sure you want to delete selected continent?</label>
                    </div>    
                    <br/>
                    
                    <input type="submit" value="Confirm" class="btn btn-primary" />&nbsp;
                    <input type="button" value="Cancel" class="btn btn-success" onclick="location.href='/continents'"/>
                </form>
            </div>
        </div>
    </div>

</body>
</html>